target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#custom 
#for index.html frontend resources

#for jar in electron-app folder
electron-jar/*.jar
electron-jar/package-lock.json
electron-jar/node_modules
electron-jar/distribution
electron-app/package-lock.json
electron-app/node_modules
electron-app/distribution
electron-app/dist
electron-app/api/config/users
electron-client/package-lock.json
electron-client/node_modules
electron-client/distribution
electron-client/dist

# Cordova
cordova-app/node_modules
cordova-app/package-lock.json
cordova-app/app/package-lock.json
cordova-app/app/node_modules
cordova-app/app/**/www/*
!cordova-app/app/**/www/.gitkeep
cordova-app/app/**/build
cordova-app/app/platforms/*
!cordova-app/app/platforms/*.json
!cordova-app/app/platforms/.gitkeep
cordova-app/app/plugins/*
!cordova-app/app/plugins/*.json
